@import 'bourbon';
@import '../base/_base';
@import 'neat';

#container {
	max-width: $max-width + 46px;
	margin: auto;
	background-color: #ffffff;
	min-height: 100vh;
	box-shadow: 0 0px 332px rgba(0, 0, 0, 0.41);
	padding-bottom: 20px;
}