@import 'bourbon';
@import 'neat';

.flex-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;

	.db-buttons {
		text-align: center;
		margin: 0.5em 0;

		.button {
			margin: 0 0.5em;
		}

		.danger {
			background-color: #B54B4B;
		}
	}

	.filters {
		align-self: flex-end;
		margin-top: 0;

		.mime-dropdown {
			margin-bottom: 0.2em;
			margin-right: 0.2em;
		}
	}

	.search-bar {
		width: 80%;
		align-self: center;
		.search-input {
			width: 80%;
			display: inline;
		}

		.search-button {
			width: 20%;
			display: inline;
			margin-bottom: 0.25em;
		}
	}

	.page-buttons {
		margin: 0.5em;
		display: flex;
		justify-content: space-between;

		.prev-page-button {
			padding: 0.5em 1em;
		}

		.count {
			
		}

		.next-page-button {
			padding: 0.5em 1em;
		}
	}
}