@import 'bourbon';
@import 'neat';

.title {
	text-align: center;
}

.spinner-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.no-img-found {
	display: flex;
	flex-direction: column;
	align-items: center;

	.cloud-img {
		height: 10em;
	}
}

.accordion {
  $base-border-color: gainsboro !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $accordion-menu-border-color: $base-border-color;
  $accordion-menu-color: $base-font-color;
  $accordion-menu-border: 1px solid $accordion-menu-border-color;
  $accordion-menu-background: lighten($accordion-menu-border-color, 10%);
  $accordion-menu-hover: lighten($accordion-menu-background, 2%);
  $accordion-menu-sub-background: darken($accordion-menu-background, 5%);
  $accordion-menu-sub-inset: darken($accordion-menu-sub-background, 6%);
  $accordion-menu-sub-hover: lighten($accordion-menu-sub-background, 2%);
  $accordion-menu-list-padding: ($base-spacing / 2) $gutter;

  background-color: $accordion-menu-background;
  border: $accordion-menu-border;
  margin: 0 0 $base-spacing 0;
  padding: 0;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    border-bottom: $accordion-menu-border;
    list-style: none;
    overflow: hidden;

    > span {
      color: $accordion-menu-color;
      display: block;
      padding: $accordion-menu-list-padding;
      text-decoration: none;
      cursor: pointer;
    }

    &:last-child {
      border: 0;
    }

    &:focus,
    &:hover {
      background-color: $accordion-menu-hover;
    }
  }


  ul.submenu {
    height: 0;
    overflow: hidden;
	transition: height .3s ease;
    li {
      background-color: $accordion-menu-sub-background;

      &:focus,
      &:hover {
        background-color: $accordion-menu-sub-hover;
      }
    }
  }

  .is-expanded {
    height: 30em !important;
    padding-bottom: 0;

    .flex-container {
    	display: flex;
		background-color: white;
    	flex-direction: rows;
    	flex-wrap: wrap;
    	justify-content: center;
    	height: 25em;
		align-items: center;

    	.image-section {
    		height: 18em;
    		padding: 0.5em;
    		max-width: 45%;
    		overflow: hidden;

    		.img {
    			height: 18em;
          		overflow: hidden;
    		}
    	}

    	.info-section {
    		height: 18em;
    		padding-top: 0.5em;
    		max-width: 50%;
    		display: flex;
    		flex-direction: column;


    		.info-item {
    			margin: 0.3em;
    			padding: 0.3em;
    			border-bottom: 1px black solid;
    		}
    	}
    }
	.index {
		background-color: white;
		padding-left: 2em;
		padding-bottom: 2em;

		.scroll-wrapper {
			overflow: auto;
		}
	}
  }
}