@import 'bourbon';
@import 'neat';
@import '../base/_base';

$navigation-background: white;
$navigation-height: 60px;
$submenu-item-height: 50px;

header.navigation {
	margin-bottom: 20px;
	background-color: $navigation-background;
	border-bottom: 2px solid darken($navigation-background, 10);
	height: $navigation-height;
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 0 10px;

	.brand {
		flex-grow: 0;
		padding: 10px;
	}

	.links {
		flex-grow: 1;

		ul {
			height: $navigation-height;
			padding: 0 1em;

			li {
				display: inline-block;
				position: relative;
				z-index: 1;

				a {
					display: block;
					padding: 0 3em;
					height: inherit;
					line-height: $navigation-height;
					color: black;

					&:hover {
						color: #fff;
					}
				}
			}
		}
	}
}