@import "../neat/neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
$gutter: 0.4em;
$grid-columns: 12;
$max-width: 1200px;

// Neat Breakpoints
$medium-screen: 700px;
$large-screen: 900px;

//$visual-grid: true;
//$visual-grid-color: yellow;
//$visual-grid-index: front;
//$visual-grid-opacity: 0.3;

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);

@mixin omega-reset($nth, $context: null) {
  @if $context == null {
    &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  } @else {
    &:nth-child(#{$nth}) { margin-right: flex-gutter($context); }
  }
  &:nth-child(#{$nth}+1) { clear: none; }
}
