// Typography
$base-font-family: 'Open Sans', $verdana;
$heading-font-family: 'Hind', $helvetica;

// Font Sizes
$base-font-size: 1em;
$heading-font-size: 2em;
$heading-font-size-small: 1.5em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #386A7A;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$error-color: #e24848;



$red: #B54B4B;
$green: #90C3D4; //lighten(#A1D490, 5);
$blue: darken(#90C3D4, 15);
$orange: #FFA500; //lighten(#E8AB6A, 0);
$danger: $red;

$primary-color: $blue;
$secondary-color: lighten($primary-color, 15);


// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
